* {
    font-family: sans-serif;
}

body {
    margin: 1em;
}

h2 {
    border-bottom: 1px solid #99c;
}

h3 {
    margin-bottom: 0.3em;
}

#bottomsection {
	clear:both;
}

#copyright {
    clear: both;
    color: grey;
}

#header{
    background: #f0f0f0;
    border-top: #d2d2d2 solid 1px;
    border-bottom: #d2d2d2 solid 1px;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

#hdrNav {
    font-weight: bold;
}

#hdrNav a {
    font-weight: normal;
}

#gnomeprojects {
	padding-right: 0.7em;
}

#tomboylink {
	padding-right: 0.4em;
}

#left {
	width:48%;
	float:left;
}

#logo{
    border: none;
    float: left;
}

#menu{ 
    text-align: right;
    font: bold 12pt/14pt sans-serif;
}

#right {
	width:48%;
	float:right;
}

.download a {
    text-decoration: none;
    font-weight: bold;
    color: blue;
    vertical-align: middle;
}

.hilight {
    background: yellow;
}

.screenshot {
    border: none;
    padding: 10pt;
    text-align: center;
    font-size: x-small;
}

.tomboylink {
	font-weight: bold;
}

#tomboylogos {
    margin-left: auto;
    margin-right: auto;
    width: 430px;
}

.underline {
	border-bottom: 1px red dotted;
}

