body {
	background: #bebeae;
	padding: 12px;
	font-family: Bistream Vera Sans,sans,sans-serif;
	color: white;
	min-width: 8;
	width: 1000px;
	text-align: justify;
	margin: 0 auto;
}

.content {
	padding: 125px 25px 10px 225px;
	background: url(../images/nm-logo.png) white no-repeat 0px 25px;
	position: relative;
	color: #6a6a6a;
	padding-top: 65px;
	background-position: 0px 40px;
	line-height: 1.5em;
}

#banner {
	position: relative;
	width: 775px;
	height: 72px;
	border: 0px solid green;
	margin-bottom: 3em;
}

.content #banner img {
	width: 775px;
	height: 72px;
	position: absolute;
	left: 0;
	padding: 0;
	margin: 0;
	display: block;
}

#links {
	text-align: right;
	height: 26px;will
	margin-right: 18px;
	word-spacing: .5em;
	width: 500px;
	position: absolute;
	bottom: -3px;
	right: 18px;
	border: 0px solid red;
	color: white;
}

#navbar {
	border: 0px solid purple;
}

#links :link, #links :visited {
	text-decoration: underline;
	color: white;
}

.main.content #navbar #main,
.administrator.content #navbar #admins,
.user.content #navbar #users,
.developer.content #navbar #developers,
.support.content #navbar #support,
.contact.content #navbar #contact {
	color: black;
}

#copyright {
	background-color:	#dedede;
	color:			#a9aaa6;
	padding-left:		2em;
	padding-right:		2em;
	font-size:		smaller;
	text-align:		center;
	clear: both;
}

#copyright :link {
	color: #a9aaa6;
}

h2 {
	font-size: x-large;
	color: #393939;
	text-align: left;
	margin: 2em 0 -.5em 0;
}

code {
	display: block;
	padding: 10px;
	background-color: #efefef;
	margin-right: 30px;
	text-align: left;
	white-space: nowrap;
}

:link, :visited {
	color: #879727;
}

#sidebar {
	color: #0a6495;
	background-color: #efefef;
	border: 1px solid #0a6495;
	width: 250px;
	max-width: 250px;
	margin: 0 0 5em 1em;
	padding: 0 1ex 1ex 1ex;
}

.float-right {
	float: right;
	padding: 0 -10px 6px 6px;
	margin: 12px -10px 12px 12px;
}

table {
	margin-bottom: 32px;
	border-collapse: collapse;
	border: 0;
	margin-top: 8px;
}

table th {
	background-color: #FFF;
	border-bottom: 1px solid #999;
	text-align: left;
}

table td, table th {
	padding-right: 16px;
	text-align: left;
	height: auto;
}

table tr.odd {
	background: #e4e4e1;
}

#note {
	margin-top: .65em;
	font-size: 0.75em;
	font-weight: lighter;
}

.releasedate {
	font-size: smaller;
	color:	#a9aaa6;
}
