/* GDM website overrides */
#hdr {
	background-image: url("images/top-bg.png");
	background-repeat: repeat-x;
	margin: 0;
	padding: 0;
	height: 80px;
	overflow: hidden;
}

.front-screenshot {
	float: right;
	display: block;
	margin: 1em;
}
