/* CSS copied from http://git.gnome.org/browse/mail-web/ */

/* Basic tags */
body {
    padding: 0px;
    background: url(http://www.gnome.org/wp-content/themes/gnome-grass/images/html-bg.png) repeat-x scroll 0 10px #FFFFFF;
    height: 100%;
    margin-bottom: 0px;
    color: #2E3436;
    font-family: Cantarell,'Droid Sans',Ubuntu,'DejaVu Sans',Arial,sans-serif;
    font-size: 14px;
    line-height: 1.6;
    width: 100%;
}

#body {
    margin: 90px 230px 0px 10px;
    padding: 0px;
}

a img {
    border: 0px;
    margin-top: 39px;
}

/* Anchors */
a {
    color: #0000ff;
}

a:visited {
    color: #551a8b;
}

a:active {
    color: #ff0000;
}

/* Basic classes */

.none { /* to add paragraph spacing to various elements for ttys */
    margin: 0px;
    padding: 0px;
}

.invisible { /* stuff that should appear when this css isn't used */
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 0px;
    visibility: hidden;
}

.left {
    margin: 10px;
    padding: 0px;
    float: left;
}

.right {
    margin-top: 10px;
    padding: 0px;
    float: right;
}

.center {
    text-align: center;
}

/* Common page elements: Header, footer, etc. */

#hdr {
    position: absolute;
    z-index: 5;

    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 48px;

    text-align: right;

    background-color: #e3ffc3;
    text-decoration: underline;
}

#banner {
    position: absolute;
    z-index: 10;

    top: 0px;
    right: 0px;
    border: 0px;

    width: 300px;
    height: 48px;

}

#banner a img {
    width: 300px;
    height: 48px;
}

#hdrNav {
    position: absolute;
    top: 54px;
    left: 0px;

    margin-left: 84px;
    text-align: left;
    vertical-align: middle;
    font-size: small;
}

#hdrNav a {
    color: #000000;
}

#hdrTitle {
    height: 48px;
    padding: 10px 10px 0px 0px;
    font-weight: bold;
}


/* Copyright footer */

#copyright {
    text-align: center;
    font-size: small;
    clear: both;

    margin-top: 10px;
    padding: 5px 0px 5px 0px;
    color: #aaaaaa;
}

#copyright a {
    color: #aaaaff;
}

#copyright a:visited {
    color: #ffaaaa;
}


/* News Sections */

p.newsitem {
    clear: left;
    margin-bottom: 20px;
}

p.newsitem img.newsicon {
    float: left;
    margin: 0px 10px 10px 10px;
    border: 0px;
}


/* Generic Classes */

div.code {
    background-color: #e0e0e0;
    color: #000000;
    white-space: pre;
    font-family: monospace;
}


#page {
    margin: 0px;
    padding: 0px;
}

div.in-column {
    margin: 0 0 2em 1em;
    float: right;
    max-width: 12em;
}

hr {
    color: #888;
    background: #888;
    border: 0;
    height: 1px;
    width: 100%;
    text-align: center;
    clear: both;
}


div.body {
    clear: both;
    padding-top: 1px;
}

ul.toc {
    padding: 0;
    padding-left: 20px;
    margin-left: 0;
    margin-right: 10px;
    list-style: none;
}

ul.toc li {
    list-style: circle;
}

ul.toc li a {
    text-decoration: none;
    color: black;
}

ul.toc li a:hover {
    text-decoration: underline;
}

#header h1 {
    margin-left: 20px;   
    padding-top: 85px; 
    font-size: 130%;
    color: #3F4448;
    font-weight: inherit;
}


/* page content */

div#content {
    clear: both;
    padding-top: 0.3em;
    margin: 1em;
}

/* global domain bar */

#global_domain_bar {
    width: 960px;
    margin: auto;
}

#global_domain_bar .maxwidth {
    margin: 10px;
    margin-top: -16px;
}


#global_domain_bar .tab {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 4px 2px -2px #8FB3D9;
    float: right;
    font-size: 12px;
    line-height: 16px;
    padding: 6px 8px;
    position: relative;
    right: 0;
}

#global_domain_bar .tab a.root:last-child {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}

#global_domain_bar .tab a.root {
    background: url(http://www.gnome.org/wp-content/themes/gnome-grass/images/favicon.png) no-repeat scroll 0 0 #FFFFFF;
    border-right: 1px solid #CCCCCC;
    color: #555753;
    font-weight: bold;
    margin-right: 3px;
    padding-left: 18px;
    padding-right: 6px;
    text-decoration: none;
}


/* Footer Grass & community */

#footer_grass {
    background: url(http://www.gnome.org/wp-content/themes/gnome-grass/images/grass.png) repeat-x scroll top transparent;
    height: 39px;
    margin-top: -33px;
    bottom: 0;
}

#footer_community {
    background: url(http://www.gnome.org/wp-content/themes/gnome-grass/images/footer_arts/community.png) center no-repeat;
    height: 180px;
    bottom: 0; 
}

/* FOOTER  */

#footer div.links > div > ul > li {
    float: left;
    margin: 0 40px 10px 0;
}

#footer ul li {
    margin: 0;
    padding: 0;
}

#footer p {
    color: #3F4448;
    margin: 0em;
}

#footer #footnotes {
    font-size: 9px;
    margin-top: 4px;
}

#footer ul.menu > li > a {
    font-weight: bold;
}

#footer div.links div a, #footer div.links div strong {
    display: block;
    text-decoration: none;
}

#footer .links a {
    -moz-transition: background-color 100ms ease-in 0s;
    color: inherit;
}

/*top bar*/

.left {
    float: left;
}

#top_bar ul {
    list-style: none outside none;
    margin: 0;
    padding: 0 5px;
}

#top_bar ul li {
    display: inline;
    margin: 0 5px 0 0;
}

#top_bar a {
    -moz-transition: background 100ms linear 0s;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    outline: 0 none;
    padding: 4px 8px;
    text-decoration: none;
    text-shadow: 0 1px 0 #000000;
}

#top_bar a:hover {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
}

#top_bar a:focus {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.15);
}

#top_bar a:active, #top_bar li.current-menu-item a, #top_bar li.current-page-ancestor a {
    background: url("images/top_bar-item-bg.png") repeat-x scroll center top #1C2021;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 3px rgba(0, 0, 0, 0.4) inset;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

#top_bar {
    background: url("top_bar-bg.png") repeat-x scroll center top #2E3436;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    float: right;
    font-size: 13px;
    line-height: normal;
    margin-top: 48px;
}

.content_container .nav_grid {
    width: 700px;
}

.content_container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.logo_grid, .nav_grid {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

input {
    -moz-appearance: textfield;
    -moz-binding: url("chrome://global/content/platformHTMLBindings.xml#inputFields");
    -moz-user-select: text;
    background-color: -moz-field;
    border: 2px inset threedface;
    color: -moz-fieldtext;
    cursor: text;
    font: -moz-field;
    letter-spacing: normal;
    line-height: normal !important;
    padding: 1px 0;
    text-align: start;
    text-indent: 0;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: none;
    word-spacing: normal;
}


/*logo*/

#header #logo {
    float: left;
}

.logo_grid {
    width: 220px;
}


#header #logo img {
    -moz-transition: opacity 200ms ease-out 0s;
    height: 78px;
    margin-left: 10px;
    opacity: 1;
    width: 250px;
    left: 10px;
    margin-top: 5px;
}

#header {
    margin: 20px auto 0;
    width: 960px;
    float: center;
    font-size: 75%;
}


#except_footer {
    width: 960px;
    margin: auto;
}

#logo_bar {
    font-size: 75%;
    margin: 20px auto 0;
    width: 960px;
    padding-top: 10px;
}

select {
    height: 27px;
    margin-left: 53px;
    margin-top: 55px;
    text-align: center;
    width: 205px;
}
