body {
	margin: 0;
	padding: 0;
	font-family: bitstream vera sans,sans-serif;
	background-color: #fff;
	color: #555;
	text-align: center;
}

body, td, th {
	font-size: small;
}

#page-header {
	margin: 0;
	padding: 0;
	border: 1px solid #aaa;
	background-color: #ccc;
	height: 67px;
	background: #586d42 url(images/bg-header.png);
}

a img {
	border: 0;
}

h1#logo {
	margin: 0;
	position: absolute;
	top: 6px;
	left: 18px;
	z-index: 1;
	font-size: 0;
}
h1#logo a {
	color: #000;
	text-decoration: none;
}
h1#logo img {
	behavior: url("/projects/evolution/pngbehavior.htc");
	border: 0;
}

#page-content a {
	text-decoration: none;
	background: transparent url(images/link-underline.gif) 0 1.15em repeat-x; 
}
#page-content a:hover {
	color: #f50;
	text-decoration: none;
	background: transparent url(images/link-underline-hover.gif) 0 1.15em repeat-x; 
}
a[name],
a[name]:hover {
	color: inherit;
	background: inherit;
}

h2 {
	font-size: 1.75em;
	/*
	border-bottom: 1px solid #f5c317;
	*/
	padding-bottom: 7pt;
	background: transparent url(images/header-underline.png) bottom repeat-x;
	margin-left: -6px;
	padding-left: 6px;
	margin-top: 2.5em;
}
h2:first-child {
	margin-top: 0;
}
h3 {
	font-size: 1.25em;
}
h1, h2, h3, h4, h5 {
	font-family: luxi sans,sans-serif;
	clear: both;
	color: #222;
}
h3 img {
	vertical-align: middle;
	padding-right: 6px;
	width: 32px;
	height: 32px;
}
html>body h3 img {
	/* Hide this from IE/Win */
	float: left;
	position: relative;
	bottom: 4px;
}

#page-content ul > li {
	list-style-image: url(images/bullet.gif);
	list-style-position: top;
	list-style-type: circle;
}
#page-content ul > li:hover {
	list-style-image: url(images/bullet-anim.gif);
}

#page-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	position: absolute;
	left: 105px;
	top: 55px;
	right: 0;
	z-index: 300;
}
#page-nav li {
	margin: 0;
	padding: 0;
	float: left;
	background: #e6e6e6 url(images/button-bg.png) right repeat-y;
}
#page-nav li a {
	float: left;
	display: block;
	border: 1px solid #3e4e2f;
	border-width: 1px 1px 1px 0;
	padding: 3px 10px;
	color: #333;
	text-decoration: none;
	background: transparent url(images/button-ridge.gif) top left no-repeat;
}
#page-nav li.first a {
	border-width: 1px 1px 1px 1px;
}
#page-nav li a img {
	border: 0;
	vertical-align: middle;
	margin-right: 4px;
}

body#pagename-overview ul#page-nav li#overview,
body#pagename-features ul#page-nav li#features,
body#pagename-download ul#page-nav li#download,
body#pagename-documentation ul#page-nav li#documentation,
body#pagename-developer ul#page-nav li#developer,
{
	background: #3b5d80 url(images/button-bg-sel.png) top left no-repeat;
}
body#pagename-overview ul#page-nav li#overview,
body#pagename-features ul#page-nav li#features,
body#pagename-download ul#page-nav li#download,
body#pagename-documentation ul#page-nav li#documentation,
body#pagename-developer ul#page-nav li#developer,
{
	background: #3b5d80 url(images/button-bg-sel-hov.png) top left no-repeat;
}
body#pagename-overview ul#page-nav li#overview a,
body#pagename-features ul#page-nav li#features a,
body#pagename-download ul#page-nav li#download a,
body#pagename-documentation ul#page-nav li#documentation a,
body#pagename-developer ul#page-nav li#developer a,
{
	background: #3b5d80 url(images/button-ridge-sel.gif) top left no-repeat;
	color: #cad1d8;
}

body#pagename-unknown {
	background-color: fcc;
}

#page-nav li a:hover {
	background: transparent url(images/button-ridge-hov.gif) top left no-repeat;
	background-color: #777;
	color: #fff !important;
}
html>body #page-nav li a:hover {
	background-color: transparent;
}
html>body #page-nav > li:hover {
	background: #777 url(images/button-bg-hov.png) top left no-repeat;
}
#page-content {
	position: relative;
	margin: 4em 4em;
	text-align: left;
	line-height: 1.7em;
}
#content-with-sidebar {
	margin-right: 18em;
}

#page-side {
	position: absolute;
	top: 0;
	right: 0;
	width: 16em;
	z-index: 400;
}
#page-side *:first-child {
	margin-top: 0;
}
#page-side > h2 {
	font-size: 1.1em;
}
#page-side > ul {
	padding-left: 1.75em;
}

#page-footer {
	clear: both;
	padding: 4em;
	padding-bottom: 1em;
}

#evo-credit li {
	float: left;
	width: 120pt;
	margin: 0 20pt;
	list-style: none !important;
	white-space: nowrap;
}
#evo-credit {
	margin: 2.5em 0 0 0;
	padding: 0;
}
#evo-credit > h3 {
	padding: 2em 0 0.5em 2em;
}

table.styled th, table.styled td {
	padding: 2px 6px;
}
table.styled th {
	background-color: #999;
	color: #fff;
}
table.styled td {
	border: 1px solid #eee;
}
table.styled {
	border-collapse: collapse;
	border: 2px solid #999;
}
.split-half table.styled {
	width: 100%;
}
table.keys {
	border-collapse: collapse;
}
table.keys th {
	border-top: 1.5em solid transparent;
	background-color: #ccc;
}
table.keys td {
	padding: 8pt 6pt;
}

.split {
}
.split-half {
	width: 43%;
}
.split-third {
	width: 29.333%;
}
.split,
.split-half,
.split-third {
	float: left;
	padding: 0 2% 1em;
	vertical-align: top;
}
.split *:first-child,
.split-half *:first-child,
.split-third *:first-child {
	padding-top: 0;
	margin-top: 0;
}

code, pre {
	line-height: normal;
}

.img-inline {
	float: left;
	margin-right: 1em;
}
.img-inline-right {
	float: right;
	margin-left: 1em;
}
.img-inline, .img-inline-right {
	text-align: center;
	border: 0;
}

/** Features page **/
div#evo-features li {
	/*
	margin-bottom: 2em;
	*/
}
div#evo-features li:hover {
	list-style-image: url(images/bullet.gif) !important;
}
/** Front-page feature list **/
ul#evo-features + h2 {
	padding-top: 2em;
}
ul#evo-features {
	margin: 0;
	padding: 0;
	margin-left: 2em;
}
ul#evo-features li {
	width: 160pt;
	float: left;
	list-style: none !important;
	height: 1.7em;
}
html>body ul#evo-features li {
	height: auto;
	line-height: 1.7em;
	text-indent: -20px;
	margin-left: 20px;
}
ul#evo-features li img {
	padding-right: 6px;
	width: 16px;
	height: 16px;
	vertical-align: top;
}
html>body ul#evo-features li img {
	position: relative;
	top: 2px;
}
pre.screen {
	margin-left: 1em;
	margin-right: 1em;
	color: #fff;
	background-color: #777;
	border: 1px solid #000;
	padding: 0.5em 0.9em;
	-moz-border-radius: 2.5px;
}
pre {
	overflow: auto;
}
pre,code,kbd {
	font-family: bitstream vera sans mono, luxi mono, monospace;
}
kbd.key {
	border: 1px solid #999;
	background-color: #eee;
	padding: 1px 3px;
	-moz-border-radius: 2.5px;
}
.eplugin, .eplugin-reference {
}
.eplugin h3, .eplugin-reference h3 {
	margin: 0;
	font-size: 1em;
}
.eplugin .desc, .eplugin-reference .desc {
}
.eplugin .desc-long, .eplugin-reference .desc-long {
	color: #999;
}
.eplugin-reference {
}
div.screenshots a {
	width: 300px;
	min-height: 300px;
	margin: 2em;
	display: block;
	float: left;
	text-decoration: none;
	text-align: center;
	background: none !important;
}
div.screenshots a img {
}
table.screenshots {
	width: 100%;
	border-collapse: collapse;
}
table.screenshots td {
	text-align: center;
	padding: 1.25em;
}
.fixme {
	font-weight: bold;
	text-decoration: blink;
}
